<f:layout name="default" />

<f:section name="HeaderAssets">
   <v:asset.style path="{settings.cssFile}" />
   <v:asset.style path="{settings.simpleCssFile}" />
</f:section>

<f:section name="main">
    <div class="printer">
        <div class="user">
            <h5 class="name">{user.firstName}<f:if condition="{user.middleName}">&nbsp;{user.middleName}</f:if>&nbsp;{user.lastName}</h5>
             <f:if condition="{user.email}">
                <div class="email">
                    <!-- div class="contactlabel">{f:translate(key:'email')}</div -->
                    <div class="email contactdata">
                        <f:link.email email="{user.email}" />
                    </div>
                </div>
            </f:if>

        </div>
    </div>
</f:section>
